.container {
  display: grid;
  /* grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto); */
  text-align: center;
}

.container div{
  border-style: solid;
  aspect-ratio: 1;
}