body {
  text-align: center;
}

.heading {
  display: flex;
}

h1 {
  margin: 0 auto 0;
  font-family: "Pacifico", cursive;
  font-size: 3em;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

label {
  font-family: cursive;
  font-size: large;
}

#grid {
  height: 18px;
  width: 18px;
  margin-bottom: 0;
}

.container {
  display: inline-grid;
  text-align: center;
  width: 80vh;
  height: 80vh;
  aspect-ratio: 1;
  border: thin solid;
}

.settings {
  display: inline;
}

button {
  padding: 0;
  border: 0;
  background-color: white;
  font-size: 3em;
}
