.container {
  display: inline-grid;
  /* grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto); */
  text-align: center;
  height: 97vh;
  aspect-ratio: 1;
}

.container div {
  border-style: solid;
  aspect-ratio: 1;
}
